/* input.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.php */

/* Estilos generales del cuerpo */
.index-body {
    @apply bg-onyx text-gray-800 font-sans flex items-center justify-center min-h-screen;
}

/* Contenedor principal */
.index-container {
    @apply bg-jet shadow-lg rounded-lg p-12 max-w-2xl text-ghost-white text-center;
}

/* Logo Wrapper */
.index-logo-wrapper {
    @apply flex justify-center mb-8;
}

/* Logo */
.index-logo {
    @apply w-64 h-auto; /* Tamaño aumentado para el logotipo */
}

/* Título principal */
.index-title-container {
    @apply flex justify-center items-center gap-4 mb-6; /* Ajusta el espacio entre palabras */
}

.index-title {
   
    @apply text-4xl font-bold;

    /* Gradiente de colores aplicado al texto */
    background: linear-gradient(90deg, #F97316, #FF6F3C, #FF8643, #FF9C4A, #FACC15, #FFC857);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease-in-out;
    background-size: 200%;
}

/* Efecto hover para que el gradiente se mueva, creando una animación en el color */
.index-title:hover {
    background-position: 100%;
}


/* Descripción breve */
.index-description {
    @apply text-ghost-white mb-10;
}

/* Botones de acción */
.index-button {
    @apply px-8 py-3 rounded text-white transition duration-300;
}

/* Botón de Registro */
.index-button-register {
    @apply bg-pumpkin hover:bg-orange-600;
    margin-right: 1.5rem;
}

/* Botón de Acceso */
.index-button-login {
    @apply bg-onyx hover:bg-gray-700;
    margin-left: 1.5rem;
}

/*___________________________________________________________________________*/

/* login.php */

/* Estilo general del cuerpo para la página de login */
.login-body {
    @apply bg-onyx text-ghost-white font-sans flex items-center justify-center min-h-screen;
}

/* Contenedor principal */
.login-container {
    @apply bg-jet shadow-lg rounded-lg p-8 max-w-md text-center;
}

/* Logotipo */
.login-logo {
    @apply w-24 h-auto mx-auto mb-4; /* Tamaño reducido y centrado */
}

/* Título */
.login-title {
    @apply text-3xl font-bold text-pumpkin mb-6;
}

/* Título principal */
.login-title-container {
    @apply flex justify-center items-center mb-4; 
}

.login-title {
   
    @apply text-2xl font-bold mb-1;

    /* Gradiente de colores aplicado al texto */
    background: linear-gradient(90deg, #F97316, #FF6F3C, #FF8643, #FF9C4A, #FACC15, #FFC857);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease-in-out;
    background-size: 200%;
}

/* Efecto hover para que el gradiente se mueva, creando una animación en el color */
.login-title:hover {
    background-position: 100%;
}

/* Formulario */
.login-form {
    @apply flex flex-col space-y-4;
}

/* Inputs */
.login-input {
    @apply bg-gray-800 text-white px-4 py-2 rounded focus:ring-2 focus:ring-pumpkin focus:outline-none;
}

/* Input en caso de error */
.login-input-error {
    @apply border-2 border-red-500;
}

/* Texto de error */
.login-error-text {
    @apply text-red-500 text-sm italic;
}

/* Checkbox y label */
.login-remember {
    @apply flex items-center justify-start text-sm text-gray-400 space-x-2;
}

.login-remember input {
    @apply w-4 h-4 text-pumpkin;
}

/* Botón de enviar */
.login-button {
    @apply bg-pumpkin text-white py-2 px-4 rounded hover:bg-orange-crayola-2 transition duration-300;
}

/* Contenedor de los enlaces */
.login-links {
    @apply mt-4 text-center flex flex-col items-center space-y-2;
}

/* Estilos de los enlaces */
.login-link {
    @apply text-pumpkin font-semibold no-underline transition duration-300;
}

/* Efecto hover para los enlaces */
.login-link:hover {
    @apply text-orange-crayola-2 underline;
}

/*___________________________________________________________________________*/

/* register.php */

/* Estilo general del cuerpo */
.register-body {
    @apply bg-onyx text-ghost-white font-sans flex items-center justify-center min-h-screen;
}

/* Contenedor principal */
.register-container {
    @apply bg-jet shadow-lg rounded-lg p-8 max-w-xl text-center;
}

/* Logo */
.register-logo {
    @apply w-24 h-auto mx-auto mb-6;
}

/* Formulario */
.register-form {
    @apply flex flex-col space-y-4;
}

/* Campos del formulario */
.register-field {
    @apply flex flex-col space-y-2 text-left;
}

/* Etiquetas */
.register-label {
    @apply font-semibold text-sm text-ghost-white;
}

/* Inputs */
.register-input {
    @apply bg-onyx text-ghost-white px-4 py-2 rounded focus:ring-2 focus:ring-pumpkin focus:outline-none;
}

/* Placeholder */
.register-input::placeholder {
    @apply text-jet;
}

/* Inputs */
.register-note {
    @apply font-semibold text-sm text-jonquil;
}

/* Botón de enviar */
.register-button {
    @apply bg-pumpkin text-white py-2 px-4 rounded hover:bg-orange-crayola-2 transition duration-300;
}

/*___________________________________________________________________________*/

/* recover_password.php */

/* Estilo general del cuerpo */
.recover-body {
    @apply bg-onyx text-ghost-white font-sans flex items-center justify-center min-h-screen;
}

/* Contenedor principal */
.recover-container {
    @apply bg-jet shadow-lg rounded-lg p-8 max-w-lg text-center;
}

/* Logo */
.recover-logo {
    @apply w-24 h-auto mx-auto mb-6;
}

/* Título */
.recover-title {
    @apply text-2xl font-bold text-pumpkin mb-6;
}

/* Formulario */
.recover-form {
    @apply flex flex-col space-y-4;
}

/* Campos del formulario */
.recover-field {
    @apply flex flex-col space-y-2 text-left;
}

/* Etiquetas */
.recover-label {
    @apply font-semibold text-sm text-ghost-white;
}

/* Inputs */
.recover-input {
    @apply bg-gray-800 text-white px-4 py-2 rounded focus:ring-2 focus:ring-pumpkin focus:outline-none;
}

/* Botón de enviar */
.recover-button {
    @apply bg-pumpkin text-white py-2 px-4 rounded hover:bg-orange-crayola-2 transition duration-300;
}
/*___________________________________________________________________________*/

/* reset_password.php */

/* Estilo general del cuerpo */
.reset-body {
    @apply bg-onyx text-ghost-white font-sans flex items-center justify-center min-h-screen;
}

/* Contenedor principal */
.reset-container {
    @apply bg-jet shadow-lg rounded-lg p-8 max-w-md text-center;
}

/* Logo */
.reset-logo {
    @apply w-24 h-auto mx-auto mb-6;
}

/* Título */
.reset-title {
    @apply text-2xl font-bold text-pumpkin mb-6;
}

/* Formulario */
.reset-form {
    @apply flex flex-col space-y-4;
}

/* Campos del formulario */
.reset-field {
    @apply flex flex-col space-y-2 text-left;
}

/* Etiquetas */
.reset-label {
    @apply font-semibold text-sm text-ghost-white;
}

/* Inputs */
.reset-input {
    @apply bg-gray-800 text-white px-4 py-2 rounded focus:ring-2 focus:ring-pumpkin focus:outline-none;
}

/* Botón de enviar */
.reset-button {
    @apply bg-pumpkin text-white py-2 px-4 rounded hover:bg-orange-crayola-2 transition duration-300;
}

/*___________________________________________________________________________*/

/* user_event_list.php */

/* General Container */
.modal-container {
    @apply flex flex-col items-center justify-center min-h-screen bg-onyx text-ghost-white font-sans;
}

/* Modal */
.modal {
    @apply bg-jet rounded-lg shadow-lg max-w-2xl w-full p-6 mb-4;
}

.modal-header {
    @apply flex justify-between items-center border-b border-gray-700 pb-4 mb-4;
}

.modal-title {
    @apply text-pumpkin font-bold text-lg;
}

/* Content Container */
.content-container {
    @apply space-y-8 max-w-3xl w-full;
}

/* User Events Section */
.user-events, .public-events {
    @apply bg-jet rounded-lg shadow-md p-6;
}

.user-events .no-events,
.public-events .no-events {
    @apply text-center text-gray-400;
}

.no-events-text {
    @apply text-sm font-semibold;
}

/* Event Cards */
.event-cards {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-4;
}

.event-cards .event-card {
    @apply bg-gray-800 rounded-lg shadow-lg p-4 hover:bg-gray-700 transition duration-300;
}

.event-cards .event-card h3 {
    @apply text-pumpkin font-bold text-lg;
}

.event-cards .event-card p {
    @apply text-gray-400 text-sm mt-2;
}


/*___________________________________________________________________________*/

/* user_event_view.php */

/* Estilos para la página del evento */
.event-body {
    @apply bg-onyx text-ghost-white font-sans flex flex-col min-h-screen;
}

.event-container {
    @apply mx-auto w-full max-w-4xl p-6;
}

.event-header {
    @apply flex items-center justify-between mb-8;
}

.event-header-back {
    @apply flex items-center;
}

.event-back-btn {
    @apply text-pumpkin text-lg font-bold hover:text-orange-crayola-2 transition duration-300;
}

.event-header-title {
    @apply text-center;
}

.event-title {
    @apply text-3xl font-bold text-pumpkin;
}

.event-info {
    @apply bg-jet rounded-lg p-6 shadow-lg mb-6;
}

.event-details {
    @apply mb-6;
}

.event-details-header {
    @apply border-b border-gray-600 pb-2 mb-4;
}

.event-section-title {
    @apply text-lg font-bold text-jonquil;
}

.event-details-body {
    @apply space-y-4;
}

.event-field {
    @apply flex justify-between items-center text-sm;
}

.event-edit-btn {
    @apply bg-pumpkin text-white px-2 py-1 rounded hover:bg-orange-crayola-2 transition duration-300;
}

.event-participants {
    @apply bg-gray-800 rounded-lg p-6 shadow-lg;
}

.event-participants-header {
    @apply border-b border-gray-600 pb-2 mb-4;
}

.event-participants-list {
    @apply space-y-4;
}

.event-participant-container {
    @apply flex items-center space-x-4;
}

.participant-col1 {
    @apply flex-shrink-0;
}

.participant-pfp-container {
    @apply w-12 h-12 rounded-full overflow-hidden;
}

.participant-pfp {
    @apply w-full h-full object-cover;
}

.participant-name {
    @apply text-white font-semibold;
}

.participant-admin {
    @apply text-xs text-pumpkin italic;
}

.event-user-controls {
    @apply mt-6;
}

.event-user-controls-container {
    @apply flex justify-between space-x-4;
}

.event-left-button, .event-delete-button {
    @apply bg-pumpkin text-white py-2 px-4 rounded hover:bg-orange-crayola-2 transition duration-300;
}



/*___________________________________________________________________________*/

/* user_profile.php */

/* Estilos "body" */
/* ------------------------------------------------------------------------- */
.app-body {
    @apply bg-ghost-white text-gray-900 flex flex-col min-h-screen;
}

.dark .app-body{
    @apply bg-onyx dark:text-ghost-white font-sans;
}

/* Estilos "header" */
/* ------------------------------------------------------------------------- */
.app-header {
    @apply flex items-center justify-between bg-pumpkin p-4 dark:bg-jet; 
}

.app-header-logo {
    @apply flex items-center justify-start; 
}

.app-header-logo-img {
    @apply h-auto w-24 mr-4; 
}

.app-header-title-img {
    @apply w-48 mx-auto; 
}

.app-header-modo {
    @apply bg-sunglow text-onyx rounded-md;
    @apply w-[150px] h-[40px] flex items-center justify-center text-base;
    padding: 0.5rem 1rem; 
}

.dark .app-header-modo {
    @apply bg-orange-crayola-1 text-text-dark;
}

/* Botón de notificaciones */
/* Botón de notificaciones pequeño y circular */
/* Botón de notificaciones */
.notification-button {
    @apply bg-sunglow text-onyx rounded-md;
    @apply w-[30px] h-[30px] flex items-center justify-center text-base;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.notification-button i {
    @apply text-lg; /* Tamaño del ícono */
}

.dark .notification-button {
    @apply bg-orange-crayola-1 text-text-dark;
}

.notification-button:hover {
    @apply bg-orange-500 text-white; /* Color al pasar el ratón */
}




/* Estilos botón switch "Modo Oscuro" */
/* ------------------------------------------------------------------------- */

/* Contenedor de iconos y botón de interruptor */
.toggle-switch-container {
    @apply flex items-center space-x-2;
}

/* Botón de interruptor personalizado */
.toggle-switch {
    @apply relative w-12 h-6 bg-sunglow rounded-full cursor-pointer transition-colors duration-300 ease-in-out;
}

/* Círculo interno del interruptor */
.toggle-switch::before {
    content: '';
    @apply absolute top-0.5 left-0.5 w-5 h-5 bg-onyx rounded-full transition-transform duration-300 ease-in-out;
}

/* Estado activado en modo oscuro */
.dark .toggle-switch {
    @apply bg-gray-500;
}

.dark .toggle-switch::before {
    @apply transform translate-x-6 bg-jonquil;
}

/* Iconos del sol y la luna (ajustes opcionales de color en modo oscuro) */
.toggle-switch-container .fa-sun {
    @apply text-yellow-500;
}

.toggle-switch-container .fa-moon {
    @apply text-gray-500;
}

.dark .toggle-switch-container .fa-sun {
    @apply text-gray-400;
}

.dark .toggle-switch-container .fa-moon {
    @apply text-yellow-300;
}


/* Estilos "main" */
/* ------------------------------------------------------------------------- */

.app-main{
    @apply flex gap-5 p-5 flex-1;
}

/*Sidebar del administrador*/
.app-main-aside{
    @apply w-48 bg-onyx text-ghost-white rounded-lg p-5 flex flex-col justify-between;
}

.dark .app-main-aside{
    @apply bg-orange-crayola-2 dark:text-gray-800
}

.app-main-aside-admin{
    @apply text-center mb-5;
}

.app-main-aside-admin-img{
    @apply w-12 rounded-full mx-auto mb-3;
}

/* Contenedor de los botones en el sidebar */
.app-main-buttons {
    @apply flex gap-4 mt-2 mb-5 justify-center; 
}

.app-main-buttons-button {
    @apply w-10 h-10 bg-jet rounded-full text-white flex items-center justify-center;
}

.dark .app-main-buttons-button {
    @apply bg-onyx text-white;
}

/*Ventanas de eventos*/

.app-main-sections{
    @apply flex-1 bg-onyx rounded-lg p-5; 
}

.dark .app-main-sections {
    @apply dark:bg-orange-crayola-2 text-gray-100;
}

/*Listas de eventos*/

.app-main-sections-eventlist{
    @apply bg-onyx p-5 rounded-lg max-h-[450px] overflow-y-auto relative; 
}

.dark .app-main-sections-eventlist {
    @apply dark:bg-orange-crayola-2;
}

.app-main-sections-eventlist-title {
    @apply bg-pumpkin text-center text-onyx font-bold py-3 mb-6 text-2xl tracking-wide uppercase;
    border-radius: 0.5rem; 
}

.dark .app-main-sections-eventlist-title {
    @apply bg-onyx text-center text-jonquil font-bold py-3 mb-6 text-2xl tracking-wide uppercase;
    border-radius: 0.5rem; 
}

/*Estilos de barra de scroll*/

/* Estilo de la barra de desplazamiento */
.app-main-sections-eventlist::-webkit-scrollbar {
    width: 8px; 
}

/* Estilo de la pista de la barra de desplazamiento */
.app-main-sections-eventlist::-webkit-scrollbar-track {
    background-color: #333; 
    border-radius: 1rem; 
}

/* Estilo del "thumb" (la parte que se mueve) de la barra de desplazamiento */
.app-main-sections-eventlist::-webkit-scrollbar-thumb {
    background-color: #f90; 
    border-radius: 1rem; 
    border: 2px solid #333; 
}

/* Estilo del "thumb" al pasar el mouse por encima */
.app-main-sections-eventlist::-webkit-scrollbar-thumb:hover {
    background-color: #ffb700; 
}

/*Eventos individuales*/

.app-main-sections-eventlist-event{
    @apply flex items-center bg-sandy-brown p-3 mb-3 rounded-lg; 
}

.dark .app-main-sections-eventlist-event {
    @apply dark:bg-onyx;
}

.app-main-sections-eventlist-icon{
    @apply bg-jonquil text-ghost-white p-3 rounded-full mr-3; 
    width: 40px; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

/* Clases personalizadas para el footer */

/* Footer más compacto */
.app-footer {
    @apply bg-jonquil text-onyx p-4 dark:bg-jet dark:text-jonquil; 
}

.app-footer-flextext {
    @apply flex flex-col md:flex-row gap-4 md:justify-between items-start md:items-center; 
}

.app-footer h3 {
    @apply text-base font-semibold;
}

.app-footer p {
    @apply text-sm mt-1; 
}

.app-footer-socials {
    @apply flex flex-row gap-4 items-center; 
}

.app-footer-icon {
    @apply text-onyx flex items-center justify-center text-3xl dark:text-jonquil hover:text-gray-700 dark:hover:text-gray-400; /* Iconos más pequeños */
}

.app-footer-form {
    @apply flex flex-col md:flex-row gap-2
}

.app-footer-input {
    @apply p-1 rounded w-full md:w-auto bg-white dark:bg-gray-700 text-gray-900 dark:text-ghost-white; /* Menos padding */
}

.app-footer-button {
    @apply bg-pumpkin text-onyx p-1 rounded hover:bg-sandy-brown dark:bg-orange-crayola-1; /* Menos padding */
}

.app-footer-copyright {
    @apply mt-4 text-center text-xs border-t border-gray-700 pt-2; /* Margen reducido */
}

.app-footer-links {
    @apply hover:underline; /* Mantiene estilo */
}


/*___________________________________________________________________________*/

/* COMPONENTES */

/* add-event_modal.php */

/* Modal Container */
.modal-content {
    @apply bg-jet text-ghost-white rounded-lg shadow-lg max-w-2xl w-full p-6;
}

/* Modal Header */
.modal-header {
    @apply flex justify-between items-center border-b border-gray-700 pb-4 mb-4;
}
.modal-header h3 {
    @apply text-pumpkin font-bold text-lg;
}
/* Modal Close Button */
.modal-close-btn {
    @apply absolute top-2 right-2 bg-gray-700 text-white text-sm w-8 h-8 rounded-full flex items-center justify-center cursor-pointer hover:bg-gray-600 hover:text-orange-crayola-2 transition duration-200 ease-in-out;
}


/* Modal Form */
.modal-body {
    @apply space-y-4;
}
.modal-form-field {
    @apply flex flex-col space-y-2;
}

/* Labels */
.modal-form-field label {
    @apply font-semibold text-sm text-ghost-white;
}

/* Input Fields */
.modal-form-field input[type="text"],
.modal-form-field input[type="datetime-local"],
.modal-form-field select,
.modal-form-field textarea {
    @apply bg-jet text-white px-4 py-2 rounded focus:ring-2 focus:ring-pumpkin focus:outline-none;
}

/* Textarea Specific */
.modal-form-field textarea {
    @apply resize-none;
}

/* Select Dropdown */
.modal-form-field select {
    @apply bg-gray-800 text-white px-4 py-2 rounded focus:ring-2 focus:ring-pumpkin focus:outline-none;
}

/* Modal Footer */
.modal-footer {
    @apply flex justify-end space-x-4 mt-4; /* Espaciado y alineación */
}

/* Close Button */
.modal-close-btn {
    @apply bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700 transition;
}

/* Create Button */
.modal-create {
    @apply bg-pumpkin text-white font-semibold py-2 px-6 rounded shadow-md hover:bg-orange-crayola-2 hover:shadow-lg transition duration-300 ease-in-out;
}

/*___________________________________________________________________________*/

/* Botón de Google*/

.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
    }

    .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
    }

    .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
    }

    .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    }

    .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    }

    .gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
    }

    .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
    }

    .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
    }

    .gsi-material-button:not(:disabled):active .gsi-material-button-state, 
    .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
    }

    .gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    }

    .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
    }


